@import 'partials/base';
@import 'partials/components';

body {
	font-family: $font-stack;
	overflow: visible;
}

.main-content {
	height: unset;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 200px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	grid-template-areas: 'section1' 'image1' 'section2' 'image2' 'section3' 'image3';

	@include padding;

	@include breakpoint($sm) {
		grid-template-areas: 'section1 image1' 'image2 section2' 'section3 image3';
		padding-top: 250px;
		grid-template-columns: repeat(2, 1fr);
		padding-bottom: 3rem;
		margin-bottom: -3rem;
	}
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 80%;
	}
}

.s1 {
	grid-area: section1;
}

.s2 {
	grid-area: section2;
}

.s3 {
	grid-area: section3;
}

.i1 {
	grid-area: image1;
}

.i2 {
	grid-area: image2;
}

.i3 {
	grid-area: image3;
}
