// reset some default styling
* {
	margin: 0;
	padding: 0;
	outline: 0;
	background: none;
	border: none;
	-webkit-tap-highlight-color: transparent;

	&,
	::before,
	::after {
		box-sizing: border-box;
	}
}

// colors
$primary: #3fc208;
$header: #1c1929;
$sub-text: #534e69;

// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');
$font-stack: 'Montserrat', arial, sans-serif;
