// header
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 150px;
	@include breakpoint($sm) {
		height: 170px;
	}
}

// mobile nav
.mobile-nav {
	width: 100%;
	padding-top: 1.5rem;
	padding-right: 1.5rem;
	display: flex;
	justify-content: flex-end;

	@include breakpoint($sm) {
		display: none;
	}
}

.burger-wrapper {
	display: inline-block;
	padding: 7px 0;
	z-index: 999;

	.burger-line {
		width: 1.5rem;
		height: 0.1rem;
		background-color: $primary;
		transform: rotate(0);
		transition: transform 250ms ease-out;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 1.5rem;
			height: 0.1rem;
			background-color: $primary;
			transform: rotate(0);
			transition: margin-top 250ms ease-out 250ms, transform 250ms ease-out;
		}

		&::before {
			margin-top: -0.4rem;
		}

		&::after {
			margin-top: 0.4rem;
		}
	}
}

.mobile-nav-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transition: opacity 250ms linear;

	ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	li {
		display: block;
		text-align: center;
		transform: translateX(15px);
		opacity: 0;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	a {
		text-decoration: none;
		color: $primary;
		font-size: 1rem;
	}
}

body.no-scroll {
	overflow: hidden;
}

.burger-wrapper.nav-open {
	.burger-line {
		transform: rotate(45deg);
		transition: transform 250ms ease-out 250ms;

		&::before,
		&::after {
			margin-top: 0;
			transform: rotate(90deg);
			transition: margin-top 250ms ease-out, transform 250ms ease-out 250ms;
		}
	}
}

.mobile-nav-menu.nav-open {
	opacity: 1;
	pointer-events: all;

	li {
		transform: translateX(0);
		opacity: 1;
	}

	li:nth-child(1) {
		transition: transform 200ms ease-out 250ms, opacity 100ms linear 250ms;
	}

	li:nth-child(2) {
		transition: transform 200ms ease-out 400ms, opacity 100ms linear 400ms;
	}

	li:nth-child(3) {
		transition: transform 200ms ease-out 550ms, opacity 100ms linear 550ms;
	}

	li:nth-child(4) {
		transition: transform 200ms ease-out 700ms, opacity 100ms linear 700ms;
	}
}

//desktop nav
.desktop-nav {
	padding-top: 3rem;
	display: none;

	@include breakpoint($sm) {
		display: block;
	}

	ul {
		list-style-type: none;
		display: flex;
		justify-content: center;
	}

	li:not(:last-child) {
		margin-right: 4rem;
	}

	a {
		text-decoration: none;
		color: $header;
		text-transform: uppercase;
		font-size: 0.8rem;
		@include link-hover;

		&.active {
			color: $primary;
		}
	}
}

// logo + brand name
.logo-wrapper {
	width: 100%;
	text-align: center;
	padding-top: 1.5rem;

	img {
		width: 2.5rem;
	}

	h2 {
		margin-top: 0.5rem;
		color: $primary;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.25rem;
		letter-spacing: 0.1rem;
	}
}

// section
.section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		@include title;
		margin-bottom: 1rem;
	}

	p {
		@include paragraph;
		margin-bottom: 1rem;
	}
}

// button
.btn {
	text-decoration: none;
	color: $primary;

	img {
		width: 1rem;
		transform: translateY(0.1rem);
		margin-left: 5px;
		transition: margin-left 200ms ease-out;
	}

	&:hover {
		img {
			margin-left: 15px;
		}
	}
}

// footer
.page-content {
	min-height: 100vh;
	margin-bottom: -3rem;

	&::after {
		content: '';
		display: block;
		height: 3rem;
	}
}

.footer {
	height: 3rem;
	width: 100%;
	display: flex;
	align-items: center;

	ul {
		width: 100%;
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $sub-text;
		font-size: 0.5rem;

		@include breakpoint($sm) {
			font-size: 0.8rem;
		}
	}

	li:not(:last-child) {
		margin-right: 1.5rem;

		@include breakpoint($sm) {
			margin-right: 3rem;
		}
	}

	a {
		text-decoration: none;
		color: $sub-text;
		@include link-hover;
	}
}
